{% extends "console.html" %}
{% block subcontent %}
<div class="well well-sm">备份配置</div>

<div class="input-group">
<form class="navbar-form navbar-left" role="search" action="/console/backup/backup_config/" method="get">
        <div class="form-group">
          <input type="text" name="ip" class="form-control" placeholder="IP or NAME">
          <input type="text" name="port" class="form-control" placeholder="PORT">
        </div>        
      	<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
{% csrf_token %}
</form>
</div>
<div class="well well-sm">
<span class="label label-default">{{ instance.ip }}</span>
<span class="label label-default">{{ instance.port }}</span>
<span class="label label-default">{{ instance.db_type }}</span>
<hr>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
      	<th>
      	<button type="button" class="btn btn-default btn-sm" onclick="call_div()">
  			<span class="glyphicon glyphicon-plus"></span> Add
		</button>
      	</th>
        <th>TOOL</th>
        <th>LEVEL</th>
        <th>VALUE</th>
        <th>TYPE</th>
        <th>NEED_DATA</th>
        <th>NEED_SHEMA</th>
       </tr>
    </thead>
    <tbody>
    	{% for config in config_list %}
    		<tr>
    			<td>
    				<span class="glyphicon glyphicon-hand-right"></span>
    			</td>
    			<td>{{ config.backup_tool }}</td>
    			<td>{{ config.backup_level }}</td>
    			<td>{{ config.level_value }}</td>
    			<td>{{ config.backup_type }}</td>
    			<td>{{ config.need_data }}</td>
    			<td>{{ config.need_shema }}</td>    			
    		</tr>
    {% endfor %}
    </tbody>
    </table>
</div>	
</div>
<br>
<div  id="sub_div" style="display:none;">
<div>
<button id="btn-switch" class="btn btn-default btn" >
  		<span class=" glyphicon glyphicon-off" > {{ backup.stat }}</span>
</button>
</div>
<br>
<div class="input-group">
  <div class="input-group">
	<span class="input-group-addon">*</span>
	<select name="backup_tool" class="form-control" style="width:200px;">
		{% for backup in backup_tool %}
		   <option value={{ backup }}>{{ backup }}</option>
		{% endfor %}
	</select> 	
	<span class="input-group-addon">*</span>
	<select name="backup_type" class="form-control" style="width:200px;">
		{% for backup in backup_type %}
		   <option value={{ backup }}>{{ backup }}</option>
		{% endfor %}
	</select> 	
	<span class="input-group-addon">*</span>
	<select name="backup_level" class="form-control" style="width:200px;">
		{% for backup in backup_level %}
		   <option value={{ backup }}>{{ backup }}</option>
		{% endfor %}
	</select> 	
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="level_value" placeholder='LEVEL_VALUE' style="width:200px;" maxlength=20 value='{{ backup.level_value }}' readonly= 'readonly' >
</div>
<br>
<div class="input-group">
	<span class="input-group-addon">NEED_DATA:</span>
	<select name="need_data" class="form-control" style="width:50px;">
		<option value=1>Y</option>
		<option value=0>N</option>
	</select>

	<span class="input-group-addon">NEED_SCHEMA:</span>
	<select name="need_shema" class="form-control" style="width:50px;">
		<option value=1>Y</option>
		<option value=0>N</option>
	</select>
	<span class="input-group-addon">ISCOMPRESSED:</span>
	<select name="iscompressed" class="form-control" style="width:50px;">
		<option value=1>Y</option>
		<option value=0>N</option>
	</select>
	<span class="input-group-addon">ISENCRYPTED:</span>
	<select name="isencrypted" class="form-control" style="width:50px;">
		<option value=1>Y</option>
		<option value=0>N</option>
	</select>
	
</div>

<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="retention" placeholder='RETENTION' style="width:200px;" maxlength=20 value='{{ backup.retention }}' readonly= 'readonly' >
</div><br>
<div class="input-group">
<span class="input-group-addon">*</span>
	<select name="backup_cycle" class="form-control" style="width:200px;">
		{% for backup in backup_cycle %}
		   <option value={{ backup }}>{{ backup }}</option>
		{% endfor %}
	</select> 	
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="backup_time" placeholder='BACKUP_TIME' style="width:200px;" maxlength=20 value='{{ backup.backup_time }}' readonly= 'readonly' >
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="schedule_time" placeholder='SCHEDULE_TIME' style="width:200px;" maxlength=20 value='{{ backup.schedule_time }}' readonly= 'readonly' >
</div>
<br>

<form action="/console/backup_config/" method="post">

<button type="button" class="btn btn-default btn" id='mod' onclick="change_readonly('all')" disabled='disabled'>
  		<span class="glyphicon glyphicon-wrench"></span>编辑
</button>
<button type="submit" class="btn btn-default btn" id='commit' disabled="disabled">
  		<span class="glyphicon glyphicon-ok"></span> 提交
</button>

{% csrf_token %}
</form>
</div>
<br>
<script>
function change_readonly(id){
	if (id == 'all')
	{
	    var arrAll=document.all;  
	    for (i=0;i <arrAll.length;i++)  
	    	arrAll[i].readOnly= false		
	}
	var btn_submit=document.getElementById("commit");  
    btn_submit.disabled='';
}
function call_div(){
	var div_sub=document.getElementById("sub_div");
	div_sub.style.display='block';
	change_readonly('all');
}
</script>






    {% endblock %}