<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico	" type="image/x-icon" />
  	
  	<script language="javascript" type="text/javascript" src="/static/My97DatePicker/WdatePicker.js"></script>
  	<script src="/static/jquery-2.1.1.min.js"></script>
  	
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/boot.css" rel="stylesheet">
    <link href="/static/dashboard.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      	<div class="container-fluid">
        	<div class="navbar-header">      	
            	<a class="navbar-brand" href="/charts/">Mega
            	</a>            	
        	</div>
        	<div class="navbar-collapse collapse">
        		<ul class="nav navbar-nav ">
        		    <form class="navbar-form navbar-right">
            			<input type="text" class="form-control" placeholder="什么也搜不到的">
          			</form>

        			<li><a href="/"><span class="glyphicon glyphicon-home"></span><b>首页</b></a></li>
            		<li><a href="/resource/"><span class="glyphicon glyphicon-th"></span><b>资源池</b></a></li>
            		<li><a href="/resource/"><span class="glyphicon glyphicon-dashboard"></span><b>仪表盘</b></a></li>
            		
            		<li><a href="/console/"><span class="glyphicon glyphicon-cog"></span><b>控制台</b></a></li>
            		<li><a href="/tunning/"><span class="glyphicon glyphicon-pushpin"></span><b>调优室</b></a></li>
            		<li><a href="/portal/"><span class="glyphicon glyphicon-send"></span><b>传送门</b></a>  </li>
  				</ul>
  			    <ul class="nav navbar-nav navbar-right">
  					<li class="dropdown ">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown">登录<span class ="glyphicon glyphicon-user"></span><span class="caret"></span></a>
          				<ul class="dropdown-menu" role="menu">
            				<li><a href="#">登录</a></li>
            				<li><a href="#">注销</a></li>
            				<li class="divider"></li>
            				<li><a href="/admin/">后台</a></li>
            				<li><a href="#">mega</a></li>
          				</ul>
        			</li> 
        		</ul>         		        		
        	</div>
         </div>        
  		</div>
    
  <div>  
 	{% block content %}
    {% endblock %}
  </div>
  <footer>  

  </footer>  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
 <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>    
 <script src="http://code.jquery.com/jquery.js"></script>   --> 
 <script src="/static/higncharts.js"></script>
    
     
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/docs.min.js"></script>
  </body>
  
</html>