{% extends "monitor_base.html" %}
{% block subcontent %}
<div class="container-fluid">
   <div class="row">
     <div class="col-sm-3 col-md-1 sidebar">
     <ul class="nav nav-sidebar">
     	<li><a href="instance/">实例</a></li>
        <li><a href="server/">服务器</a></li>
        <li><a href="database/">数据库</a></li>        
        <li><a href="database/">数据表</a></li>        

     </ul>
   </div>
 </div>
</div>
<div class="row placeholders">
	<div class="col-xs-6 col-sm-3 placeholder">
        <a href	="/resource/server/">服务器 <span class="badge ">{{ count.server }}</span></a>
    </div>
   	<div class="col-xs-6 col-sm-3 placeholder">
       	<a href	="/resource/instance/">实例 <span class="badge ">{{ count.instance }}</span></a>              	
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href	="/resource/database/">数据库 <span class="badge ">{{ count.database }}</span></a>                        
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href	="/resource/business/">业务线 <span class="badge">{{ count.business}}</span></a>              
   	</div>            
</div>

{% endblock %}