{% extends "resource_base.html" %}
{% block tag %}
	<span class=" glyphicon glyphicon-bookmark ">业务线添加</span>
{% endblock %}
{% block subcontent %}
<div class="col-sm-9 col-sm-offset-3 col-md-3 col-md-offset-0 main">
	<div class="panel panel-default">
		<form action="/resource/business_add/" method="post">
			<div class="input-group">
		  		<span class="input-group-addon"style="width:150px;">名称</span>
		  		<input type="text" class="form-control" name="business_name" placeholder="NAME" style="width:200px;" maxlength=15>
		  	</div>
			<div class="input-group">
		  		<span class="input-group-addon"style="width:150px;">联系人</span>
		  		<select name="business_owner" class="form-control" style="width:200px;" readonly={{ readonly }}>
					{% for owner in owner_list %}
					   <option value={{ owner.id }}>{{ owner.name }}</option>
					{% endfor %}
				</select> 
			</div>
		<div class="input-group">
		  	<span class="input-group-addon" style="width:150px;">电话</span>
		  	<input type="text" class="form-control" name="business_phone" placeholder="PHONE" style="width:200px;" maxlength=11>
		</div>
		<button type="submit" class="btn btn-default pull-right">
		  		<span class="glyphicon glyphicon-ok"></span> 添加
		</button>
		{% csrf_token %}
		</form>
	</div>
</div>
<br>
{{msg}}
{% endblock %}