{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/console/">Overview</a></li>
            <li><a href="/console/backup/">备份管理</a></li>
            <li><a href="/resource/database/"></a></li>
            <li><a href="/resource/business/"></a></li>
            <li><a href="/resource/server/"></a></li>
          </ul>
      <!--      <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
          -->
        </div>
       </div>
    </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
    {% block subcontent %}
    {% endblock %}
  </div>
{% endblock %}