{% extends "resource_base.html" %}
{% block tag %}
	<span class=" glyphicon glyphicon-bookmark ">数据库管理</span>
{% endblock %}

{% block subcontent %}
<div class="row">
	<form class="navbar-form navbar-left" role="search" action="/resource/database/" method="post">
  		<div class="form-group">
    		<input type="text" name="ip" class="form-control" placeholder="Search...">    
  		</div>
  		<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
  		<button type="button" class="btn btn-default btn" onclick="window.location='/resource/database_add/'">
  			<span class="glyphicon glyphicon-plus"></span>
  		</button>
  		{% csrf_token %}
	</form>
</div>
<div class="row">
<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
  				<table class="table  table-hover">
    				<thead>
      					<tr>
      						<th>名称</th>
      						<th>IP</th>
        					<th>端口</th>
        					<th>级别</th>
        					<th>联系人</th>
        					<th>业务线</th>
        					<th>状态</th>
      					</tr>
    				</thead>
    			<tbody>
       {% for database in database_list %}
	     <tr>
	     	<td><a href="/resource/database_detail/?database_id={{ database.id }}">{{ database.name }}</a></td>
	     	<td><a href="/resource/server_detail/?server_ip={{ database.ip }}">{{ database.ip }}</a></td>
	     	<td><a href="/resource/instance_detail/?instance_id={{ database.instance_id }}">{{ database.port }}</a></td>
	     	<td>{{ database.level }}</td>
			<td><a href="/resource/user_detail/?user_id={{ database.owner }}">{{ database.owner_name }}</a></td>
			<td><a href="/resource/business_detail/?business_id={{ database.business_id }}">{{ database.business }}</a></td>
			<td>
				{% ifequal instance.stat 1 %} 
					<span style="color:green">在线</span>
				{% else %}
					<span style="color:red">已下线</span>
				{% endifequal %}
			</td>
		 </tr>
	   {% endfor %}
     </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
<ul class="pagination">
  <li><a href="?page=1">&laquo;</a></li>
  {% for page in page_range %}
  	<li><a href="?page={{ page }}">{{ page }}</a></li>
  {% endfor%}
  <li><a href="?page=1">&raquo;</a></li>
</ul>
{% endblock %}