{% extends "resource_base.html" %}
{% block subcontent %}

<div class="well well-lg">数据库管理</div>
<form action="/resource/database_detail/" method="post">
<input type="hidden" name="database_id" value='{{ database.id }}' >
<input type="hidden" name="type" value='mod' >
<div class="input-group">
  		<span class="input-group-addon">*</span>
  		<input type="text" class="form-control" name="database_name" placeholder='NAME' style="width:200px;" maxlength=20 value='{{ database.name }}' readonly= {{ readonly }}>
	<span class="input-group-addon">*</span>
	<select name="database_owner" class="form-control" style="width:200px;"readonly= {{ readonly }}>
	<option value={{ database.owner }} >{{ database.owner_name }}</option>
	{% for owner in owner_list %}
		   <option value={{ owner.id }}>{{ owner.name }}</option>
	{% endfor %}
	</select>   		
	
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <select name="database_instance" class="form-control" style="width:200px;"readonly={{ readonly}}>
	<option value={{ database.instance }}>{{ database.ip }}:{{ database.port }}</option>
		{% for ist in instance_list %}
		   <option value={{ ist.id }}>{{ ist.ip }}:{{ ist.port }}</option>
		{% endfor %}
 </select> 	
    <span class="input-group-addon">*</span>
    <select name="database_level" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		<option value={{ database.level }} selected="selected">{{ database.level }}</option>
		{% for l in level %}
		   <option value={{ l }}>{{ l }}</option>
		{% endfor %}
  </select>

</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
    	<select name="database_business" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		<option value={{ database.business_id }} selected="selected">{{ database.business }}</option>
		{% for bus in business_list %}
		   <option value={{ bus.id }}>{{ bus.name }}</option>
		{% endfor %}
	</select> 
  
  <span class="input-group-addon">*</span>
  <input type="datetime" class="form-control" name="database_online" placeholder='ONLINE_DATE' style="width:200px;" maxlength=20 value='{{ database.online_date|date:"Y-m-d H:i:s" }}' onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,readOnly:true})" readonly= {{ readonly }} >

</div>
<br>
<button type="button" class="btn btn-default btn" onclick="change_readonly('all')">
  		<span class="glyphicon glyphicon-wrench"></span>编辑
</button>
<button type="submit" class="btn btn-default btn" id='commit' disabled="disabled">
  		<span class="glyphicon glyphicon-ok"></span> 提交
</button>

{% csrf_token %}
</form>
<br>
<form action="/resource/database_detail/" method="post">
	<input type="hidden" name="database_id" value='{{ database.id }}' >
	<input type="hidden" name="type" value='del' >
	
	<button type="submit" class="btn btn-default btn">
  		<span class="glyphicon glyphicon-trash"></span> {{ stat_action }}线数据库
	</button>
	{% csrf_token %}
</form>
<script>
function change_readonly(id){
	if (id == 'all')
	{
	    var arrAll=document.all;  
	    for (i=0;i <arrAll.length;i++)  
	    	arrAll[i].readOnly= false		
	}
	var btn_submit=document.getElementById("commit");  
    btn_submit.disabled='';
}
</script>
{% endblock %}
