{% extends "console_base.html" %}
{% block subcontent %}
<h4><span class="label label-default">高可用管理</span></h4>

<div class="row">
<form class="navbar-form navbar-left" role="search" action="/console/failover/" method="get">
  <div class="form-group">
    <input type="text" name="ip" class="form-control" placeholder="Search...">    
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>  
  {% csrf_token %}
</form>
</div>

<br>
<div class="row">
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-8"> 
	<div class="panel panel-default" style='height:500px;'>
    	<div class="table-responsive pre-scrollable" style='min-width: 800px; height: 800px; margin: 0 auto'>
<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>WVIP</th>
        <th>RVIP</th>
        <th>管理节点</th>
        <th>MASTER</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for failover in failover_list %}
	    <tr>
			<td><a href="?id={{ failover.id }}">{{ failover.name }}</a></td>	
			<td>{{ failover.wvip }}</td>	
			<td>{{ failover.rvip }}</td>	
			<td>{{ failover.manager }}</td>	
			<td>{{ failover.master }}</td>
			<td>
			    <button type="button" class="btn btn-default btn-sm" onclick="call_div('{{ failover.id }}','{{ failover.name }}','{{ failover.type }}',
			    		'{{ failover.wvip_id }}','{{ failover.rvip_id }}','{{ failover.server_id }}','{{ failover.instance_id }}','{{ failover.wvip }}',
			    		'{{ failover.rvip }}','{{ failover.master }}','{{ failover.last_time }}')">
    				<span class="glyphicon glyphicon-hand-right"></span>
    			</button>
			</td>
				
		</tr>
	   {% endfor %}
     </tbody>
  </table>
</div>
</div>
</div>
</div>
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-3">
 
       <form action="/console/failover/" method="post">
       <input id='action' type="hidden" name="action" value='add' >
       <input id='id' type="hidden" name="id" value=0 >
       
  			<div class="input-group">
  				<span class="input-group-addon">类型</span>
	  			<select id='type' name="type" class="form-control" style="width:80px;">
				   <option value=1>MHA</option>
				</select> 
				<button id='switch' type="button"  class="btn btn-default btn pull-right" data-toggle="modal" data-target="#sub_div" disabled='disabled'>
  					<span class="glyphicon glyphicon-sort">切换</span>
  			</button>
				
  			</div>
       
			<div class="input-group">
  				<span class="input-group-addon">名称</span>
  				<input id='name' type="text" class="form-control" name="name" placeholder="名称" maxlength=50>
  			</div>
			<div class="input-group">
  				<span class="input-group-addon">写VIP</span>
	  			<select id='wvip' name="wvip" class="form-control" >
				   {% for wvip in wvips %}
				   <option value={{ wvip.id }}>{{ wvip.vip }}</option>
					{% endfor %}
				</select>   				
  			</div>
  			<div class="input-group">  			
  			<span class="input-group-addon">读VIP</span>
	  			<select id='rvip' name="rvip" class="form-control" >
				   {% for rvip in rvips %}
				   <option value={{ rvip.id }}>{{ rvip.vip }}</option>
					{% endfor %}
				</select>   				
  			
  			</div>
  			
  			<div class="input-group">
  				<span class="input-group-addon">管理节点</span>
	  			<select id='manager' name="manager" class="form-control" >
				   {% for manager in managers %}
				   <option value={{ manager.id }}>{{ manager.ip }}</option>
					{% endfor %}
				</select>   				
  				
  			</div>
  			<div class="input-group">
  				<span class="input-group-addon">Master</span>
	  			<select id='master' name="master" class="form-control" >
				   {% for master in masters %}
				   <option value={{ master.id }}>{{ master.ip }}:{{master.port}}</option>
					{% endfor %}
				</select>   				
  				
  			</div>
  			
  			<br>
  			<div class="">
  			<button type="submit" class="btn btn-default btn pull-right">
  				<span class="glyphicon glyphicon-save"></span> 保存
  			</button>
  			</div>  			
  			  {% csrf_token %}
  			      {{ msg }}     			  
	   </form>
</div>


</div>

<!-- Modal -->
<div id="subdiv" >
{% include 'switch.html' %}
</div>

    			
<script type="text/javascript"> 
function update_div(masterid,name,wvip,rvip,master,last_time){ 
	
	var request_url = "/console/failover/switch/";       // 需要获取内容的url 
	var request_pars = {'masterid':masterid,'name':name,'wvip':wvip,'rvip':rvip,'master':master,'last_time':last_time};//请求参数 
	var myAjax = new Ajax.Updater('subdiv', request_url,{ // 将request_url返回内容绑定到id为result的容器中 
	method     : 'get', //HTTP请求的方法,get or post 
	parameters : request_pars, //请求参数 
	}); 
} 



</script> 
<script type="text/javascript">
function call_div(id,name,type,wvipid,rvipid,managerid,masterid,wvip,rvip,master,last_time){
	document.all.id.value=id;

	document.all.action.value='mod';
	document.all.type.value=type;
	document.all.name.value=name;
	document.all.wvip.value=wvipid;
	document.all.rvip.value=rvipid;
	document.all.manager.value=managerid;
	document.all.master.value=masterid;
	document.all.switch.disabled='';

	update_div(masterid,name,wvip,rvip,master,last_time)
	}
</script>
<script>
function change_master(failoverid,new_master,method){
	var request_url='/console/failover/switch/'
	var failoverid=document.all.id.value
	var new_master=document.all.slave.value
	var method=document.all.method.value
	var request_pars={'id':failoverid,'new_master':new_master,'method':method}
	var myAjax = new Ajax.Request(request_url,{
		method:'get',
		parameters : request_pars,
	})
}

</script>



  {% endblock %}