{% extends "base.html" %}
{% block title %}
Mega
{% endblock%}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
  
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/tunning/slowlog/report/">慢查询</a></li>
            <li><a href="/console/backup/">备份管理</a></li>
            <li><a href="/resource/instance/">实例管理</a></li>
            <li><a href="/console/task/">任务调度</a></li>
            <li><a href="/resource/server/"></a></li>
          </ul>
</div>   
</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">报警信息</div>
    		
       <div id='' style='min-width: 400px; height: 300px; margin: 0 auto'></div>
    
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">在线实例</div>
       <div id='' style='min-width: 400px; height: 300px; margin: 0 auto'></div>
    
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">慢查询</div>
   <div id='container' style='min-width: 400px; height: 300px; margin: 0 auto'></div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">备份信息</div>
   <div id='' style='min-width: 400px; height: 300px; margin: 0 auto'></div>

</div>
</div>
</div>
</div>
   <script>
	 $(function () { 
	    $('#container').highcharts({
	    		 chart: {
	 	            type: '{{ slowlog.type }}'
	 	        },
	 	        title: {
	 	            text: '{{ slowlog.title }}'
	 	        },
	 	        xAxis: {
	 	            categories: [ 
	 	                          {% for x in  slowlog.xaxis %}
	 	                           		{{ x }},
	 	                           {% endfor %}
	 	                        ]
	 	        },
	 	        yAxis: {
	 	            title: {
	 	                text: '{{ slowlog.yaxis_name }}'
	 	            }
	 	        },
	 	        series: [
	 	            {% for data in slowlog.data %}  
	 	   				{% for key,value in data.items %}	                 
	 	        			{
	 	            		name: '{{ key }}',
	 	            		data: {{ value }} 
	 	        			},
	 	            	{% endfor %}     
	 	        	{% endfor %}     
	 	    	]
	 	    }
	    );
	});
   </script>

{% endblock %}