{% extends "base.html" %}
{% block title %}
Mega
{% endblock%}
{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">报警信息
				<div class="pull-right">
  					<a href="/monitor/"><span class="glyphicon glyphicon-list"></span> 全部报警</a>
				</div>			
			</div>
    	<div class="table-responsive pre-scrollable"  style='min-width: 100px; height: 300px; margin: 0'>
			<table class="table table-hover ">
				<thead>
					<tr>
						<th>对象</th>
						<th>模块</th>
						<th>级别</th>
						<th>内容</th>
					</tr>
				</thead>
				<tbody>
					{% for alert in alert_list %}
					<tr>
						<td>{{ alert.target }}</td>
						<td>{{ alert.model }}</td>
						<td>{{ alert.level }}</td>
						<td><a onMouseOver="$(this).tooltip('show')" data-toggle="tooltip" title="{{ alert.msg }}" >{{ alert.msg|slice:":40"}}</a> </td>
					</tr>	
					{% endfor %}
			</table>
			</div>	
    
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">在线实例
			<div class="pull-right">
  				<a href="/resource/instance/"><span class="glyphicon glyphicon-stats"></span> 详细</a>
			</div>
</div>
       <div id='' style='min-width: 400px; height: 300px; margin: 0 auto'></div>
    
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">慢查询
			<div class="pull-right">
  				<a href="/tunning/slowlog/report/"><span class="glyphicon glyphicon-stats"></span> 详细</a>
			</div>

</div>
   <div id='container' style='min-width: 400px; height: 300px; margin: 0 auto'></div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">备份信息
	<div class="pull-right">
  				<a href="/console/backup/"><span class="glyphicon glyphicon-stats"></span> 详细</a>
			</div>
	
</div>
   <div id='' style='min-width: 400px; height: 300px; margin: 0 auto'></div>

</div>
</div>
</div>

   <script>
	 $(function () { 
	    $('#container').highcharts({
	    		 chart: {
	 	            type: '{{ slowlog.type }}'
	 	        },
	 	        title: {
	 	            text: '{{ slowlog.title }}'
	 	        },
	 	        xAxis: {
	 	            categories: [ 
	 	                          {% for x in  slowlog.xaxis %}
	 	                           		{{ x }},
	 	                           {% endfor %}
	 	                        ]
	 	        },
	 	        yAxis: {
	 	            title: {
	 	                text: '{{ slowlog.yaxis_name }}'
	 	            }
	 	        },
	 	        series: [
	 	            {% for data in slowlog.data %}  
	 	   				{% for key,value in data.items %}	                 
	 	        			{
	 	            		name: '{{ key }}',
	 	            		data: {{ value }} 
	 	        			},
	 	            	{% endfor %}     
	 	        	{% endfor %}     
	 	    	]
	 	    }
	    );
	});
   </script>

{% endblock %}