{% extends "resource_base.html" %}
{% block subcontent %}

<div class="well well-lg">实例基本信息管理</div>
<form action="/resource/instance_detail/" method="post">
<input type="hidden" name="instance_id" value='{{ instance.id }}' >
<input type="hidden" name="type" value='mod' >
	<div class="input-group">
		<span class="input-group-addon">NAME</span>
  		<input type="text" class="form-control" name="instance_name" placeholder='NAME' style="width:200px;" maxlength=20 value='{{ instance.name }}' readonly= {{ readonly }}>
  		<span class="input-group-addon">IP</span>
  		<input type="text" class="form-control"  name="instance_ip" placeholder= "IP" style="width:200px;" maxlength=15 value='{{ instance.ip }}' readonly= {{ readonly }} >  		
  	</div>
  	<br>
	<div class="input-group">
  		<span class="input-group-addon">TYPE</span>
  		<select name="instance_db_type" class="form-control" style="width:200px;" readonly= {{ readonly }}>
			<option value={{ instance.db_type }} >{{ instance.db_type }}</option>
			{% for d in db_type %}
		   		<option value={{ d }}>{{ d }}</option>
			{% endfor %}
		</select>
		<span class="input-group-addon">HA</span>
		<select name="instance_ha_type" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		<option value={{ instance.ha_type }} >{{ instance.ha_type }}</option>
		{% for ha in ha_type %}
		   <option value={{ ha }}>{{ ha }}</option>
		{% endfor %}
  </select>

  		
	</div>
	<br>
	<div class="input-group">
  		<span class="input-group-addon">PORT</span>
  		<input type="text" class="form-control" name="instance_port" placeholder='PORT' style="width:200px;" maxlength=6 value='{{ instance.port }}' readonly= {{ readonly }} >
	  		<span class="input-group-addon">OWNER</span>
  		 <select name="instance_owner" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		<option value={{ instance.owner }} selected="selected">{{ instance.owner_name }}</option>
		{% for owner in owner_list %}
		   <option value={{ owner.id }}>{{ owner.name }}</option>
		{% endfor %}
		</select>   		
	
	</div>
<br>
<div class="input-group">
  <span class="input-group-addon">LEVEL</span>
    <select name="instance_level" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		<option value={{ instance.level }} selected="selected">{{ instance.level }}</option>
		{% for l in level %}
		   <option value={{ l }}>{{ l }}</option>
		{% endfor %}
  </select>
  <span class="input-group-addon">ONLINE</span>
  <input type="datetime" class="form-control" name="instance_online" placeholder='ONLINE_DATE' style="width:200px;" maxlength=20 value='{{ instance.online_date|date:"Y-m-d H:i:s" }}' onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,readOnly:true})" readonly= {{ readonly }} >

</div>
<br>
<div class="input-group">
  <span class="input-group-addon">BUSINESS	</span>
  	<select name="instance_business" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		<option value={{ instance.business_id }} selected="selected">{{ instance.business }}</option>
		{% for bus in business_list %}
		   <option value={{ bus.id }}>{{ bus.name }}</option>
		{% endfor %}
	</select> 
    <span class="input-group-addon">VERSION</span>
  	<select name="instance_version" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		<option value={{ instance.version }} selected="selected">{{ instance.version }}</option>
		{% for ver in version_list %}
		   <option value={{ ver }}>{{ ver }}</option>
		{% endfor %}
	</select> 
  
</div>
<br>
<button type="button" class="btn btn-default btn" onclick="change_readonly('all')">
  		<span class="glyphicon glyphicon-wrench"></span>编辑
</button>
<button type="submit" class="btn btn-default btn" id='commit' disabled="disabled">
  		<span class="glyphicon glyphicon-ok"></span> 提交
</button>

{% csrf_token %}
</form>
<br>
<form action="/resource/instance_detail/" method="post">
	<input type="hidden" name="instance_id" value='{{ instance.id }}' >
	<input type="hidden" name="type" value='del' >
	
	<button type="submit" class="btn btn-default btn">
  		<span class="glyphicon glyphicon-trash"></span> {{ stat_action }}线实例
	</button>
	{% csrf_token %}
</form>
<script>
function change_readonly(id){
	if (id == 'all')
	{
	    var arrAll=document.all;  
	    for (i=0;i <arrAll.length;i++)  
	    	arrAll[i].readOnly= false		
	}
	var btn_submit=document.getElementById("commit");  
    btn_submit.disabled='';
}
</script>
{% endblock %}
