{% extends "resource_base.html" %}
{% block tag %}
	<span class="glyphicon glyphicon-bookmark ">实例基本信息</span>
	
{% endblock %}

{% block subcontent %}
<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="panel">		
			<form class="navbar-form navbar-left " action="/resource/instance_detail/" method="post">		
				<input type="hidden" name="instance_id" value='{{ instance.id }}' >
				<input type="hidden" name="type" value='del' >				
				<div class=" btn-toolbar " role="toolbar">
					<button type="button" class="btn btn-default" onclick="window.location.href='/console/backup/backup_config/?ip={{ instance.ip }}&port={{ instance.port }}'">备份管理</button>
					<button type="button" class="btn btn-default" onclick="window.location.href='/tunning/slowlog/report/instance/?instance_id={{ instance.id }}'">慢查询统计</button>
					<button type="button" class="btn btn-default">性能数据采集</button>
					<button type="button" class="btn btn-warning" onclick="window.location.href='/console/failover/?ip={{ instance.ip }}'">故障切换</button>
					{% ifequal instance.stat  0 %}
						<button type="submit" class="btn btn-success btn">
				  			<span class="glyphicon glyphicon-cloud-upload"></span> 上线实例
						</button>
					{% else %}
						<button type="submit" class="btn btn-danger btn">
				  			<span class="glyphicon glyphicon-trash"></span> 下线实例
						</button>
					{% endifequal %}
					{% csrf_token %}
				</div>
			</form>
		</div>
	</div>	
</div>
<hr>
<div class="row">	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel">
			<form class="navbar-form navbar-left " action="/resource/instance_detail/" method="post">
				<input type="hidden" name="instance_id" value='{{ instance.id }}' >
				<input type="hidden" name="type" value='mod' >
				<div class="input-group">  		
			  		<span class="input-group-addon"  >IP</span>
			  		<input type="text" class="form-control"  name="instance_ip" placeholder= "IP"   maxlength=15 value='{{ instance.ip }}' readonly= {{ readonly }} >  		
			  	</div>
				<div class="input-group">
			  		<span class="input-group-addon">端口</span>
			  		<input type="text" class="form-control" name="instance_port" placeholder='PORT'  maxlength=6 value='{{ instance.port }}' readonly= {{ readonly }} >
				</div>  	
				<div class="input-group">
					<span class="input-group-addon">名称</span>
	  				<input type="text" class="form-control" name="instance_name" placeholder='NAME'  maxlength=50 value='{{ instance.name }}' readonly= {{ readonly }}>
				</div>
				<div class="input-group">
			  		<span class="input-group-addon" >类型</span>
			  		<select name="instance_db_type" class="form-control"  readonly={{ readonly }}>
						<option value={{ instance.db_type }} >{{ instance.db_type }}</option>
						{% for d in db_type %}
					   		<option value={{ d }}>{{ d }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group">
					<span class="input-group-addon">HA</span>
					<select name="instance_ha_type" class="form-control"  readonly= {{ readonly }}>
						<option value={{ instance.ha_type }} >{{ instance.ha_type }}</option>
						{% for ha in ha_type %}
					   		<option value={{ ha }}>{{ ha }}</option>
						{% endfor %}
			  		</select>
				</div>
				<div class="input-group">
			  		<span class="input-group-addon">级别</span>
			    	<select name="instance_level" class="form-control" readonly= {{ readonly }}>
						<option value={{ instance.level }} selected="selected">{{ instance.level }}</option>
						{% for l in level %}
					   		<option value={{ l }}>{{ l }}</option>
						{% endfor %}
			  		</select>
			  	</div>
			    <div class="input-group">
			    	<span class="input-group-addon">版本</span>
			  		<select name="instance_version" class="form-control" readonly= {{ readonly }}>
						<option selected="selected" value={{ instance.version }} >{{ instance.version }}</option>
						{% for ver in version_list %}
					   		<option value={{ ver }}>{{ ver }}</option>
						{% endfor %}
				</select>   
				</div>
				<div class="input-group">
			  		<span class="input-group-addon">角色	</span>
			  		<select name="instance_role" class="form-control" readonly= {{ readonly }}>
						{% ifequal instance.role 1 %} 
							<option value={{ instance.role }} selected="selected">Master</option>
						{% else %}
							<option value={{ instance.role }} selected="selected">Slave</option>
						{% endifequal %}
						<option value=1 >Master</option>
						<option value=2 >Slave</option>
						<option value=3 >Single</option>
					</select> 
				</div>
				<div class="input-group">
				 	<span class="input-group-addon">主库</span>
				 	<select name="instance_master" class="form-control" readonly= {{ readonly }}>
						<option value={{ instance.master_id }} selected="selected">{{ instance.master_ip }}:{{instance.master_port}}</option>
						{% for instance in instance_list %}
							<option value={{ instance.id }}>{{ instance.ip }}:{{instance.port}}</option>
						{% endfor %}
					</select>	
				</div>
				<div class="input-group">
				  	<span class="input-group-addon">联系人</span>
			  		<select name="instance_owner" class="form-control" readonly= {{ readonly }}>
						<option value={{ instance.owner }} selected="selected">{{ instance.owner_name }}</option>
						{% for owner in owner_list %}
					   		<option value={{ owner.id }}>{{ owner.name }}</option>
						{% endfor %}
					</select>   			
				</div>
				<div class="input-group">
			  		<span class="input-group-addon">业务线</span>
			  		<select name="instance_business" class="form-control" readonly= {{ readonly }}>
						<option value={{ instance.business_id }} selected="selected">{{ instance.business }}</option>
						{% for bus in business_list %}
					   		<option value={{ bus.id }}>{{ bus.name }}</option>
						{% endfor %}
					</select> 
				</div>
				<div class="input-group">  
			  		<span class="input-group-addon">上线日期</span>
			  		<input type="datetime" class="form-control" name="instance_online" placeholder='ONLINE_DATE'  maxlength=20 value='{{ instance.online_date|date:"Y-m-d H:i:s" }}' onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,readOnly:false})" readonly= {{ readonly }} >
				</div>
				<button type="submit" class="btn btn-default btn pull-right" id='commit' disabled="disabled">
			  		<span class="glyphicon glyphicon-ok"></span> 提交
				</button>
				
				<button type="button" class="btn btn-default btn " onclick="change_readonly('all')">
			  		<span class="glyphicon glyphicon-pencil"></span>编辑
				</button>
				{% csrf_token %}
			</form>
		</div>
	</div>
	<div class="col-md-2 col-lg-3">
		<div class="panel panel-default">
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">基本信息</h4>
			    <p class="list-group-item-text">运行时间：</p>			    
			    <p class="list-group-item-text">配置文件：</p>
			    <p class="list-group-item-text">socket：</p>
			  </a>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">高可用信息</h4>
			    <p class="list-group-item-text">...</p>
			  </a>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">配置变量</h4>
			    <p class="list-group-item-text">...</p>
			  </a>
			</div>
		</div>
	</div>	
	<div class="col-md-2 col-lg-3">
		<div class="panel panel-default">
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">数据库信息</h4>
			    <p class="list-group-item-text">...</p>
			  </a>
			</div>
		
	</div>
	</div>
	<div class="col-md-2 col-lg-3">
		<div class="panel panel-default">
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">用户信息</h4>
			    <p class="list-group-item-text">...</p>
			  </a>
			</div>		
		</div>
	</div>
</div>

<script>

function change_readonly(id){
	if (id == 'all')
	{
	    var arrAll=document.all;  
	    for (i=0;i <arrAll.length;i++)  
	    	arrAll[i].readOnly= false;		
	}
	var btn_submit=document.getElementById("commit");  
    btn_submit.disabled='';
}
</script>
{% endblock %}
