{% extends "portal_base.html" %}
{% block subcontent %}
<h3>
	<a href="http://erp.jd.com/index.tpsml" target="_blank">
		<span class="glyphicon glyphicon-globe">ERP</span>
	</a>
</h3>
<h3>
	<a href="https://192.168.128.89/" target="_blank" >	
		<span class="glyphicon glyphicon-globe">堡垒机</span>
	</a>
</h3>
<h3>
	<a href="http://10.45.241.159:8080/confluence/pages/viewpage.action?pageId=852056" target="_blank" >	
		<span class="glyphicon glyphicon-globe">Wiki-网银在线</span>
	</a>
</h3>
<h3>
	<a href="http://172.17.61.64/wiki/index.php/%E9%A6%96%E9%A1%B5" target="_blank" >
		<span class="glyphicon glyphicon-globe">Wiki-DBA</span>
	</a>
</h3>
<h3>
	<a href="http://www.cbpmgt.com/" target="_blank" >
		<span class="glyphicon glyphicon-globe">CBP导航页</span>
	</a>
</h3>
{% endblock %}