{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/portal/">链接</a></li>
            <li><a href="/portal/document/">文档</a></li>
<!--            <li><a href="/resource/database/">数据库</a></li>
            <li><a href="/resource/business/">业务线</a></li>
            <li><a href="/resource/server/">服务器</a></li>
            <li><a href="/resource/user/">用户</a></li>
-->
        </div>
       </div>
    </div>
  <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 main">
    {% block subcontent %}
    {% endblock %}

 </div>
{% endblock %}