<div class="modal fade" id="sub_div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">故障切换: {{ failover.name }} 
        	<span class="label label-default">wvip</span>{{ failover.wvip }}
        	<span class="label label-default">rvip</span>{{ failover.rvip }}</h4>
      </div>
      <div class="modal-body">
  		<h5><span class="label label-default">当前主库</span>{{ failover.master}}</h5>  		
 		<h5><span class="label label-default">上次切换时间</span>{{ failover.last_time }}</h5>
       <div class="input-group">       
  		<span class="input-group-addon">新Master</span>
	  		<select id='slave' name="slave" class="form-control" style="width:200px;" >
				{% for slave in slaves %}
				  	<option value={{ slave.id }}>{{ slave.ip }}:{{slave.port}}</option>
				{% endfor %}
			</select>   				  			
  		<span class="input-group-addon">方式</span>
	  		<select id='method' name="method" class="form-control" style="width:200px;" >
				{% for method in methods %}
				  	<option value={{ method }}>{{ method }}</option>
				{% endfor %}
			</select>   				  			
  		</div>
  		<p>说明：</p>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="change_master();" data-dismiss="modal">确认切换</button>
      </div>
    </div>
  </div>
</div>

