{% extends "console_base.html" %}
{% block subcontent %}
<div class="well well-lg">任务管理</div>
<form action="/console/task/task_add/" method="post">
	<div class="input-group">
  		<span class="input-group-addon">*</span>
  		<input type="text" class="form-control" name="task_name" placeholder="NAME" style="width:200px;" maxlength=15>  		<span class="input-group-addon">*</span>
  		<select name="task_type" class="form-control" style="width:200px;">
  			<option value=1>远程任务</option>
	  		<option value=0>本地任务</option>
		</select>
	</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="task_value" placeholder="接口名称" style="width:200px;" maxlength=20>
    <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="task_script" placeholder="脚本名称|命令" style="width:200px;" maxlength=20>
  
</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="task_cycle" placeholder="周期（s）" style="width:200px;" maxlength=20>
  <span class="input-group-addon">*</span>
  <input type="text" class="form-control" name="task_target" placeholder="目标ip列表" style="width:200px;" maxlength=20>

</div>
<br>
<div class="input-group">
  <span class="input-group-addon">*</span>
  <select name="task_owner" class="form-control" style="width:200px;"readonly= {{ readonly }}>
		{% for owner in owner_list %}
		   <option value={{ owner.id }}>{{ owner.name }}</option>
		{% endfor %}
		</select>   		
  
  <span class="input-group-addon">*</span>
    	<select name="task_stat" class="form-control" style="width:200px;">
  			<option value=1>启用</option>
	  		<option value=0>未启用</option>
		</select>  
</div>




<br>
<button type="submit" class="btn btn-default btn">
  		<span class="glyphicon glyphicon-plus"></span> 添加
</button>
{% csrf_token %}
</form>
<br>
<div class="well well-sm" style="width:400px">提示信息：{{ msg }}</div>

{% endblock %}