{% extends "resource_base.html" %}
{% block subcontent %}
<h4><span class="label label-default">VIP管理</span></h4>
<div class="row">

<form class="navbar-form navbar-left" role="search" action="/resource/vip/" method='get'>
  <div class="form-group">
    <input type="text" name="vip" class="form-control" placeholder="Search...">
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
  {% csrf_token %}
</form>

</div>
<div class="row">
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6"> 
	<div class="panel panel-default " style='height:500px;'>
    	<div class="table-responsive pre-scrollable" style='min-width: 400px; height: 800px; margin: 0 auto'>
		<div class="table-responsive">
  		<table class="table table-striped">
    	<thead>
      		<tr>
      			<th>域名</th>
      			<th>VIP</th>
      			<th>类型</th>
      			<th>状态</th>
      		</tr>
    	</thead>
    	<tbody>
       	{% for vip in vip_list %}
	     	<tr>
			{#	<td><a href="/resource/user_detail/?user_id={{ user.owner }}">{{ user.owner_name }}</a></td> #}
				<td>{{ vip.domain }}</td>
				<td>{{ vip.vip }}</td>
				<td>
					{% ifequal  vip.type 1 %}
						写VIP
					{% else %}
						读VIP
					{% endifequal %}
				</td>
				<td>
					{% ifequal  vip.stat 1 %}
						<span style="color:green">已占用</span>
					{% else %}
						未占用
					{% endifequal %}
         	</tr>
	   	{% endfor %}
     	</tbody>
  	</table>
		</div> 
	</div>
</div>
</div>
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-3"> 
       <form action="/resource/vip/" method="post">
			<div class="input-group">
  				<span class="input-group-addon">VIP</span>
  				<input type="text" class="form-control" name="vip" placeholder="IP" maxlength=50>
  			</div>

  			<div class="input-group">
  				<span class="input-group-addon">域名</span>
  				<input type="text" class="form-control" name="domain" placeholder="域名"  maxlength=50>
  			</div>
  			<div class="input-group">
  				<span class="input-group-addon">类型</span>
	  			<select name="type" class="form-control" style="width:80px;">
				   <option value=1>写VIP</option>
				   <option value=2>读VIP</option>			
				</select> 
  			<span class="input-group-addon">状态</span>
  			<select name="stat" class="form-control" style="width:100px;">
			   <option value=0>未占用</option>
			   <option value=1>已占用</option>
			   
			</select> 
  			</div>
  			<br>
  			<button type="submit" class="btn btn-default btn pull-right">
  				<span class="glyphicon glyphicon-save"></span> 保存
  			</button>
  			
  			  {% csrf_token %}
	   </form>
    {{ msg }}   
</div>
</div>


{% endblock %}